label {
  display: block;
  margin-bottom: 6px;
}

input {
  padding: 4px;
}

button {
  position: relative;
  border: none;
  border-radius: 2px;
  background-color: green;
  color: white;
  padding: 4px 12px;
  width: 100%;
  cursor: pointer;

  &:hover {
    background-color: rgb(22, 94, 22);
  }

  &:disabled {
    background-color: rgb(190, 190, 190);
    cursor: not-allowed;
  }

  .spinner {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 3px;
    right: 12px;
    color: white;
  }
}

.formGroup {
  margin-bottom: 16px;
}

.error label {
  color: red;
}

.success label {
  color: green;
}
